<%- include('partials/base') %>

    <%- include('partials/navbar') %>

    <div class="container">
        <h1>Witajcie To moja pierwsza stronka w necie</h1>
        <h2>Co tu będzie robione</h2>
        <p>Ta strona jest przeznaczona do mojej zabawy z wiedzą którą poznaje z zakresu tworzenia stronek i aplkacji webowych</p>
        <h2>Najbliższe Plany</h2>
        <p>W najbliższym czasie jak wszystko się uda to będe próbował tu utworzyć stronkę, na której będzie można było grać w kółko i krzyżyk z innymi graczami, ale czy się uda kto to wie :/.</p>
    </div>
    <hr>
    <div class="container" id="numerekContainer">
        <p> Tu możesz wylosować sobie losowy numerek od 1 do 10 jeeeeej!!!!!</p>
        <p id="numerek"></p>
    </div>
    <script src="/script.js"></script>
    
</body>
</html>