<%- include('partials/base') %>

    <%- include('partials/navbar') %>

    <h1>Witajcie To moja pierwsza stronka w necie</h1>
    <p> Tu możesz wylosować sobie losowy numerek od 1 do 10 jeeeeej!!!!!</p>
    <p id="numerek"></p>

    <script src="/script.js"></script>
    
</body>
</html>