<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylegra.css">
    <title>Document</title>
</head>
<body>
    <div>
        <button onclick="hej(this)" id="0"></button>
        <button onclick="hej(this)" id="1"></button>
        <button onclick="hej(this)" id="2"></button>
    </div>
    <div>
        <button onclick="hej(this)" id="3"></button>
        <button onclick="hej(this)" id="4"></button>
        <button onclick="hej(this)" id="5"></button>
    </div>

    <script src="/scriptgra.js"></script>
</body>
</html>